/* ---------- MEDIA QUERIES ---------- */
/* --- CARDS --- */
@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Viga&display=swap");
.card {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 1em 0;
  transition: box-shadow .3s; }

.card:hover {
  box-shadow: 0 0 16px rgba(33, 33, 33, 0.2); }

.card-image-cart {
  width: 50%;
  height: auto;
  text-align: center;
  margin: 0 1em; }
  @media only screen and (min-width: 768px) {
    .card-image-cart {
      width: 10%; } }

.card-title, .card-text, .btn {
  text-transform: uppercase;
  font-family: 'Viga', sans-serif;
  font-size: 1.3rem; }

/* ---------- COLORS ---------- */
/* --- CARDS --- */
footer {
  font-family: 'Passion One', cursive;
  font-size: 1.2rem;
  text-align: center;
  background-color: #FFED80;
  padding: 1em 0 0.1em 0; }

/* ---------- HEADER ---------- */
.navbar {
  font-family: 'Passion One', cursive;
  background-color: #FFED80; }

.navbar-brand {
  font-size: 2rem !important;
  color: #000000; }

.navbar-brand:hover {
  color: #FFF9D5; }

/* --- RESET --- */
* {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box; }

.main {
  padding: 2em 5em;
  background: url(../media/white-yellow-background.webp);
  text-align: center; }
  @media only screen and (min-width: 992px) {
    .main {
      padding: 2em 10em; } }
