/* --- CARDS --- */

.card {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 1em 0;
}

.card-image {
    min-height: 220px;
    transition: transform .2s;
}

.card-image-small {
    max-height: 220px;
}

.card-image:hover {
    transform: scale(1.1);
}

.card-title, .card-text, .btn {
    text-transform: uppercase;
    font-family: 'Viga', sans-serif;
    font-size: 1.3rem;
}

// .btn-primary {
//     color: $black-color !important;
// }