/* --- CARDS --- */

.card {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 1em 0;
    transition: box-shadow .3s;
}

.card:hover {
    box-shadow: 0 0 16px rgba(33,33,33,.2); 
}

.card-image-cart {
    width: 50%;
    height: auto;
    text-align: center;
    margin: 0 1em;
    @include tablet {
        width: 10%;
    }
}

.card-title, .card-text, .btn {
    text-transform: uppercase;
    font-family: 'Viga', sans-serif;
    font-size: 1.3rem;
}