/* ---------- COLORS ---------- */

$white-color: #FFFFFF;
$light-goldenrow-yellow-color: #FFF9D5;
$green-yellow-crayola-color: #FFF3AA;
$yellow-crayola-color: #FFED80;
$minion-yellow-color: #FFE755;
$yellow-pantone-color: #FFE12A;
$sizzling-sunrise-color: #FFDB00;